* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppinsmedium', sans-serif;
}

/* header css start */

header {
    background-color: #000;
    position: sticky;
    top: 0;
    z-index: 500;
}

.profile {
    display: flex;
    position: relative;
}

.icon {
    height: 40px;
    width: 40px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}

#profile {
    background-color: aqua;
    position: absolute;
    top: calc(100% + 10px);
    padding: 2px 5px;

}

ul li{
    display: inline-block;
    
}

/* header css end */

/* sideBar css start*/

.sideBar {
    display: inline-block;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    position: sticky;
    top : 72px;
    height: calc(100vh - 72px);
    
}

.sideBar h4 {
    position: sticky;
    top: 0;
    z-index: 500;
    background-color: yellowgreen;
    text-align: center;
}

.sideBar a {
    display: block;
    text-decoration: none;
    padding: 0 0 5px 10px;
}

.items {
    height: 100%;
    overflow: auto;
}

.btnGrad {
    background: linear-gradient(to left, yellow 50% ,red 100%);
}

.logoutBtn {
    position: fixed;
    bottom: 0;
    left: 14px;
}
/* sideBar css end */

/* floating css start */

.floating {
    display: inline-block;
    position: fixed;
    top: 50%;
    right: 20px;
    z-index: 999;
    transform: translate(0,-50%);
    /* background-color: yellowgreen; */
}

.socialLinks {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    text-align: center  ;
}

.socialLinks a {
    color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
}
/* floating css end */


.box {
    height: 30vh;
    width: 30vw;
    background-color: yellowgreen;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50% , -50%);
}


.abc {
    background-color: violet;
    height: calc(100vh - 72px);
}

